In [1]:
import pandas as pd
import numpy as np

In [4]:
salary=pd.read_csv("salary_data_states.csv")

In [5]:
salary

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_CODE,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.00,year,62171.00,year,SOFTWARE ENGINEER,...,15-1132,"Software Developers, Applications",Illinois,IL,y,H-1B,NaN,62171.0,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.00,year,91440.00,year,Assistant Professor of Marketing,...,25-1011,"Business Teachers, Postsecondary",California,CA,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.00,year,49470.00,year,SPECIAL EDUCATION TEACHER,...,25-2052,"Special Education Teachers, Kindergarten and E...",California,CA,y,H-1B,NaN,49470.0,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.00,month,43800.00,year,SCIENCE TEACHER,...,25-1042,"Biological Science Teachers, Postsecondary",Texas,TX,y,H-1B,NaN,43800.0,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.00,bi-weekly,170000.00,year,SENIOR SOFTWARE ENGINEER,...,15-1133,"Software Developers, Systems Software",Oregon,OR,y,E-3 Australian,NaN,170000.0,software engineer,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167273,I-200-12241-209885,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.60,hour,MIDDLE SCHOOL TEACHERS,...,25-2022,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,y,H-1B,10504.0,11648.0,teacher,167357
167274,I-200-11305-143547,denied,11/1/2011,11/3/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,PRESCHOOL TEACHER,...,25-2011,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,y,H-1B,10504.0,10920.0,teacher,167358
167275,I-200-11313-833007,certified,11/9/2011,11/16/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,TEACHER,...,25-3999,"Teachers and Instructors, All Other*",Northern Mariana Islands,MP,y,H-1B,10504.0,10920.0,teacher,167359
167276,I-200-11312-798611,denied,11/8/2011,11/15/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.10,hour,PRESCHOOL TEACHER,...,25-2011,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,y,H-1B,10504.0,10608.0,teacher,167360
167277,I-200-11297-523711,denied,10/24/2011,10/26/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.05,hour,PRESCHOOL TEACHER,...,25-2011,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,y,H-1B,10504.0,10504.0,teacher,167361

In [45]:
pws = salary.groupby(['JOB_TITLE_SUBGROUP'])['PREVAILING_WAGE_SUBMITTED'].mean()

In [46]:
pws

JOB_TITLE_SUBGROUP
assistant professor      55350.886796
attorney                 91326.411022
business analyst         59356.259678
data analyst             59861.359354
data scientist           89799.037408
management consultant    47947.593416
software engineer        82212.129471
teacher                  37829.948856
Name: PREVAILING_WAGE_SUBMITTED, dtype: float64

In [36]:
os = salary.groupby(['JOB_TITLE_SUBGROUP'])['PAID_WAGE_SUBMITTED'].mean()

In [37]:
os

JOB_TITLE_SUBGROUP
assistant professor       90252.098263
attorney                 129571.693239
business analyst          65034.262793
data analyst              66712.733880
data scientist           106977.903504
management consultant     56611.346805
software engineer         90213.345693
teacher                   40089.937045
Name: PAID_WAGE_SUBMITTED, dtype: float64

In [59]:
os.subtract(pws, axis = 0)

JOB_TITLE_SUBGROUP
assistant professor      34901.211467
attorney                 38245.282218
business analyst          5678.003115
data analyst              6851.374526
data scientist           17178.866096
management consultant     8663.753390
software engineer         8001.216222
teacher                   2259.988189
dtype: float64

In [60]:
employer = salary.groupby(['JOB_TITLE_SUBGROUP','EMPLOYER_NAME'])['PAID_WAGE_SUBMITTED'].mean()
epws = salary.groupby(['JOB_TITLE_SUBGROUP','EMPLOYER_NAME'])['PREVAILING_WAGE_SUBMITTED'].mean()

In [63]:
wage = employer.subtract(epws, axis = 0)
wage

JOB_TITLE_SUBGROUP   EMPLOYER_NAME
assistant professor  A T STILL UNIVERSITY OF HEALTH SCIENCES              11500.000000
                     A. T. STILL UNIVERSITY OF HEALTH SCIENCES            22973.500000
                     ACADEMIC MEDICINE SERVICES                           53371.017368
                     ACADEMIC MEDICINE SERVICES, INC.                     70037.463889
                     ADELPHI UNIVERSITY                                       0.000000
                                                                              ...
teacher              ZIONSVILLE MARIA MONTESSORI INTERNATIONAL ACADEMY        0.000000
                     ZONI LANGUAGE CENTER INC                                 0.000000
                     ZUNI PUBLIC SCHOOL DISTRICT                              0.000000
                     ZUNI PUBLIC SCHOOL DISTRICT #89                         34.000000
                     ZWICK ART L.L.C                                      -2006.666667
Length: 27208, dtype: float64

In [67]:
salary['PREVAILING_WAGE_SUBMITTED_UNIT'].unique()

array(['year', 'month', 'bi-weekly', 'hour', 'week'], dtype=object)

In [71]:
# test for different units
test1 = salary.groupby(['JOB_TITLE_SUBGROUP','PREVAILING_WAGE_SUBMITTED_UNIT'])['PREVAILING_WAGE_SUBMITTED'].mean()

In [72]:
test2 = salary.groupby(['JOB_TITLE_SUBGROUP','PREVAILING_WAGE_SUBMITTED_UNIT'])['PAID_WAGE_SUBMITTED'].mean()

In [73]:
test1.subtract(test2, axis = 0)

JOB_TITLE_SUBGROUP     PREVAILING_WAGE_SUBMITTED_UNIT
assistant professor    bi-weekly                          -305.005000
                       hour                               -104.559697
                       month                             -4476.580341
                       week                               -442.320000
                       year                             -36828.997209
attorney               hour                               -328.326679
                       month                             -2286.457500
                       week                              -1934.960000
                       year                             -47103.609171
business analyst       bi-weekly                             0.000000
                       hour                               -462.080640
                       month                             -4686.958125
                       week                               -419.845000
                       year                              -6184.433172
data analyst           hour                               -980.663352
                       month                              -212.325000
                       week                               -102.075000
                       year                              -7151.113478
data scientist         hour                                 -9.606364
                       year                             -17334.180123
management consultant  hour                                -25.470592
                       month                              -108.500000
                       year                             -14360.194073
software engineer      bi-weekly                        -21306.750000
                       hour                              -2243.739405
                       month                             -1805.065769
                       week                             -22249.763333
                       year                              -8165.069265
teacher                bi-weekly                           -29.264286
                       hour                               -318.089499
                       month                              1605.666172
                       week                               -102.379231
                       year                              -2572.704261
dtype: float64

In [74]:
test3 = salary.groupby(['JOB_TITLE_SUBGROUP','EMPLOYER_NAME','PREVAILING_WAGE_SUBMITTED_UNIT'])['PAID_WAGE_SUBMITTED'].mean()
test4 = salary.groupby(['JOB_TITLE_SUBGROUP','EMPLOYER_NAME','PREVAILING_WAGE_SUBMITTED_UNIT'])['PREVAILING_WAGE_SUBMITTED'].mean()

In [75]:
test3.subtract(test4, axis = 0)

JOB_TITLE_SUBGROUP   EMPLOYER_NAME                                      PREVAILING_WAGE_SUBMITTED_UNIT
assistant professor  A T STILL UNIVERSITY OF HEALTH SCIENCES            year                              11500.000000
                     A. T. STILL UNIVERSITY OF HEALTH SCIENCES          year                              22973.500000
                     ACADEMIC MEDICINE SERVICES                         hour                                 38.330000
                                                                        year                              56333.944444
                     ACADEMIC MEDICINE SERVICES, INC.                   hour                                 34.350000
                                                                                                              ...
teacher              ZIONSVILLE MARIA MONTESSORI INTERNATIONAL ACADEMY  hour                                  0.000000
                     ZONI LANGUAGE CENTER INC                           year                                  0.000000
                     ZUNI PUBLIC SCHOOL DISTRICT                        year                                  0.000000
                     ZUNI PUBLIC SCHOOL DISTRICT #89                    year                                 34.000000
                     ZWICK ART L.L.C                                    year                              -2006.666667
Length: 28207, dtype: float64